
.list_dragons_main {
   max-width: 700px;
   margin: 0 auto;
   padding: 15px 0;
}

.list_dragons {

}
.list_dragons_flex {
   display: flex;
   margin: 10px 10px;
   cursor: pointer;
}
.list_dragons_img {}
.dragons_img {
   width: 100px;
   height: 100px;
   object-fit: cover;
}

.list_dragons_name {
   height: 100px;
   max-width: 100px;
   margin: 0 0 0 50px;
   color: #fff;
   @media (max-width: 480px) {
      margin: 0 0 0 5px;
   }
   @media (min-width: 480px) and (max-width: 767px) {
      margin: 0 0 0 5px; 
   }
}

.button_close {
   background-color: #8597a9;
   height: 30px;
   width: 100px;
   color: #fff;
}

.description_main_drop_list {
   max-width: 400px;
   @media (min-width: 768px) and (max-width: 1024px) {
      width: 300px;
      }
   @media (min-width: 480px) and (max-width: 767px) {
      width: 190px; 
   }
   @media (min-width: 320px) and (max-width: 479px) {
      width: 150px;
   }
   @media (max-width: 320px) {
      width: 100px;
   }
}