
.list_dragons_main {
   max-width: 700px;
   margin: 0 auto;
   padding: 15px 0;
}

.list_dragons {

}
.list_dragons_flex {
   display: flex;
   margin: 10px 10px;
   cursor: pointer;
}
.list_dragons_img {}
.dragons_img {}

.list_dragons_name {
   height: 100px;
   width: 100px;
   margin: 0 0 0 50px;
   color: #fff;
}